body{
    background-color: whitesmoke;
}

button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: maroon; /* Green */
    color: whitesmoke;
    border-radius: 45%;
    font-size: larger;
    padding: 12px 28px;
}